@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #5D5BB9;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

iframe {
  border: none;
  width: 100%;
  height: 100%;
}

/* Responsive iframe heights */
@media (max-width: 340px) {
  iframe {
    height: calc(100vh + 1500px);
  }
}

@media (min-width: 341px) and (max-width: 767px) {
  iframe {
    height: calc(90vh + 3000px);
  }
}

@media (min-width: 768px) {
  iframe {
    height: calc(100vh + 2400px);
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
}