@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #5D5BB9;
  font-family: Arial, Helvetica, sans-serif;
}


/* Custom height for specific width ranges */
@media (min-width: 0px) and (max-width: 340px) {
  .iframe-height-335-340 {
    height: 3400px;
  }
}

@media (min-width: 340px) and (max-width: 350px) {
  .iframe-height-340-350 {
    height: 3590px;
  }
}

@media (min-width: 351px) and (max-width: 363px) {
  .iframe-height-351-363 {
    height: 3650px;
  }
}
@media (min-width: 364px) and (max-width: 375px) {
  .iframe-height-366-372 {
    height: 3750px;
  }
}

@media (min-width: 375px) and (max-width: 385px) {
  .iframe-height-366-372 {
    height: 3850px;
  }
}

@media (min-width: 386px) and (max-width: 396px) {
  .iframe-height-366-372 {
    height: 3950px;
  }
}

@media (min-width: 397px) and (max-width: 403px) {
  .iframe-height-366-372 {
    height: 4050px;
  }
}

@media (min-width: 404px) and (max-width: 414px) {
  .iframe-height-366-372 {
    height: 4150px;
  }
}

@media (min-width: 415px) and (max-width: 424px) {
  .iframe-height-366-372 {
    height: 4250px;
  }
}

@media (min-width: 425px) and (max-width: 435px) {
  .iframe-height-366-372 {
    height: 4250px;
  }
}

@media (min-width: 435px) and (max-width: 445px) {
  .iframe-height-366-372 {
    height: 4350px;
  }
}
@media (min-width: 446px)and (max-width: 451px) {
  .iframe-height-366-372 {
    height: 4450px;
  }
}

@media (min-width: 451px) {
  .iframe-height-366-372 {
    height: 4650px;
  }
}

